@import colors

.pool-navigator-container
    padding: 0
    margin-bottom: 0.5em

    .pool-info-wrapper
        margin-bottom: 0px
        box-sizing: border-box
        width: 100%
        display: flex
        padding: 0.5em 1em
        border: none
        background: $top-navigation-color
        &.active
            .pool-name
                font-weight: bold
                font-size: 1.10em
        .pool-edit
            color: $main-color

        .pool-name
            flex: 1 1
            text-align: center
            overflow: hidden
            white-space: nowrap
            -o-text-overflow: ellipsis
            text-overflow: ellipsis

        .pool-test
            margin-right: 5px
            color: $main-color

        .first, .last
            flex-basis: 1em

        .first, .prev, .next, .last
            flex: 0 1
            margin: 0 .25em
            white-space: nowrap


.darktheme .pool-navigator-container
    .pool-info-wrapper
        background: $top-navigation-color-darktheme